---
layout: default
---

<br>
<br>
<section class="custom-section content5 custom-parallax-background" id="content5-11" data-jarallax-original-styles="null" style=" margin-top:5.75rem;  background-position: 50% 50%; background-repeat: no-repeat; z-index: 0; position: relative; background-image: none; background-attachment: scroll; background-size: auto;">



    <div class="custom-overlay" style="opacity: 0.7; background-color: rgb(24, 45, 103);">
    </div>

    <div style="padding:37.5px 0" class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center custom-bold custom-white pb-3 custom-fonts-style display-2">
                    {{ page.title }}
                </h2>
                <p class="align-center" style="color: lightgrey">
                  <em> {{ page.blurb }} </em>
                </p>



            </div>
        </div>
    </div>
<div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;"><div style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url("../../{{ page.reviewImgUrl }}"); position: fixed; top: 0px; left: 0px; width: 1271.43px; height: 847.619px; overflow: hidden; pointer-events: none; margin-left: 0px; margin-top: 20.6905px; visibility: visible; transform: translate3d(0px, -186.6px, 0px);"></div></div></section>

<section class="mbr-section article content1" id="content1-12" style=" padding-bottom: 5rem; background:none; margin-top:-2.5rem;">



    <div class="container" style="background:none;">
        <div class="media-container-row" style="padding-top:3rem; padding-bottom:5rem; background:white; box-shadow: 0px 0px 8px rgba(20,20,20,0.5);">
            <div class="mbr-text col-11 col-md-11 mbr-fonts-style display-7">
              {% if ((page.featuredLinks != null) || (page.featuredFiles != null) %}
              <div  style="float:left; width: 35%; height: auto; margin: 10px; padding: 1rem; background-color: #e5e5e5;">
                {% if ((page.featuredLinks != null) %}
                  {% for link in featuredLinks %}
                    <a href="{ page.featuredLinks_Urls[forloop.index] }">link</a>
                  {% endfor %}
                {% endif  %}
                {% if ((page.featuredFiles != null) %}

                {% endif  %}
              </div>
              {% endif %}
                {{ content }}
            </div>
        </div>
    </div>
</section>
